@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*, :after, :before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body, button, input, input::placeholder {
  font-family: 'Open Sans', sans-serif;
}
div, p, span {
  font-size: 1.6rem;
}
body{
  background-color: var(--background);
}
@font-face {
  font-family: bold;
  src: url(./fonts/Bold.otf);
}
@font-face {
  font-family: medium;
  src: url(./fonts/Medium.otf);
}
@font-face {
  font-family: light;
  src: url(./fonts/Light.otf);
}
:root{
  --red:#E50815;
  --red-hover:#C11119;
  --red-active:#99161D;
  --grey:#2D2D2D;
  --grey-hover:#414141;
  --outline:#5F5F5F;
  --netflix-bold:bold;
  --netflix-medium:medium;
  --netflix-light:light;
  --background:#232323;
}
.display_none{
  display: none;
}
.height_0{
  height: auto;
  max-height: 999px ;
  transition: all 500ms ;
}
.height_fit{
  height:fit-content;
}

.container {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1480px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1324px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 968px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 740px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 575px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

/* @media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 475px) {
} */